resource "aws_db_instance" "{{.NodeID}}" {
  allocated_storage    = {{or .AllocatedStorage "TODO: set allocated storage"}}
  storage_type         = "{{or .StorageType "TODO: set storage type"}}"
  engine               = "{{or .Engine "TODO: set engine"}}"
  engine_version       = "{{or .EngineVersion "TODO: set engine version"}}"
  instance_class       = "{{or .InstanceClass "TODO: set instance class"}}"
  db_name              = "{{or .DBName "TODO: set DB name"}}"
  username             = "{{or .Username "TODO: set master username"}}"
  password             = "{{or .Password "TODO: set master password"}}"
  skip_final_snapshot  = true

  {{- if .SecurityGroups }}
  vpc_security_group_ids = [
      {{- range $i, $sg := .SecurityGroups }}
          {{- if $i}},{{end}}aws_security_group.{{$sg}}.id
      {{- end }}
  ]
  {{- else }}
  # TODO: add security group IDs
  {{- end }}

  {{- if .SubnetGroupName }}
  db_subnet_group_name = "{{.SubnetGroupName}}"
  {{- else }}
  # TODO: add subnet group name if required
  {{- end }}

  tags = {
    Name   = "{{or .TagName "TODO: set Name tag"}}"
    NodeID = "{{.NodeID}}"
  }
}
