resource "aws_lb" "{{.NodeID}}" {
  name               = "{{.Name}}"
  load_balancer_type = "application"
  internal           = {{if eq .Scheme "internal"}}true{{else}}false{{end}}

  {{- if .SubnetID }}
  subnets = [aws_subnet.{{.SubnetID}}.id]
  {{- else }}
  # subnets = [aws_subnet.TODO.id]  # place ALB in a subnet
  {{- end }}

  tags = {
    Name   = "{{or .Name "ALB"}}"
    NodeID = "{{.NodeID}}"
  }
}

resource "aws_lb_target_group" "{{.NodeID}}_tg" {
  name     = "{{.Name}}-tg"
  port     = {{or .TargetPort "80"}}
  protocol = "HTTP"
  vpc_id   = aws_vpc.{{or .VpcID "TODO_vpc_id"}}.id

  health_check {
    enabled = true
    path    = "/"
  }
}

resource "aws_lb_listener" "{{.NodeID}}_listener" {
  load_balancer_arn = aws_lb.{{.NodeID}}.arn
  port              = {{or .ListenerPort "80"}}
  protocol          = "HTTP"

  default_action {
    type             = "forward"
    target_group_arn = aws_lb_target_group.{{.NodeID}}_tg.arn
  }
}