resource "aws_lb_target_group_attachment" "{{.NodeID}}" {
  target_group_arn = aws_lb_target_group.{{.ALBNodeID}}_tg.arn
  target_id        = aws_instance.{{.EC2NodeID}}.id
  port             = {{or .TargetPort "80"}}
}